<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <div class="container alert alert-primary p-3">
        <h2 class="text-primary">Hubo un error al registrarse</h2>
    </div>
    <script>
        setTimeout(function () {
            // after 2 seconds
            window.location = `/register`;
        }, 2000)
    </script>
</body>
</html>